<!DOCTYPE html>
<html lang="en">
<head>
<include file="./Application/Admin/View/Public/resouce.html" title="后台首页"/>
</head>
<body>
	<div class="container-fluid">
		<include file="./Application/Admin/View/Public/header.html"/>
		<div class="row">
			<include file="./Application/Admin/View/Public/left_nav.html"/>
			<div class="col-xs-10 col-sm-10 col-md-9 col-lg-9">
				<div class="panel panel-default">
		   			<div class="panel-body">
						
					</div>
				</div>
			</div>
		</div>
		<include file="./Application/Admin/View/Public/footer.html"/>
	</div>
</body>
</html>
<script type="text/javascript">
	InitNav($('#left_nav li'),"{$category}");
</script>