<div id="footer">
	<div class="row">
		<ol class="breadcrumb">
			<li class="active">友情链接</li>
		    <li><a href="http://www.scau.edu.cn">华南农业大学</a></li>
		    <li><a href="http://zyhjxy.scau.edu.cn">资源环境学院</a></li>
		</ol>
	</div>
	<div class="row" id="background">
		<div>
			<img src="/zhaosheng/Public/Home/Image/资环二维码.png">
		</div>
		<p>
			电话、传真：020-85281887 38297891 邮箱：zhxy@scau.edu.cn<br>
			地址：广东省广州市天河区五山路483号<br>
			Copyright 2010-2020 http://zyhjxy.scau.edu.cn/ Government All Rights Reserved<br>
			版权所有： 华南农业大学资源环境学院 2010-2020
		</p>
	</div>
</div>