<div id="header">
	<div id="head_bg"><img src="/zhaosheng/Public/Home/Image/list_header.png"></div>
	<div class="row" id="banner">
		<div class="row" id="nav-wrap">
			<ul>
				<li><a id="index" href="__APP__/Home/Index/index">首页</a></li>
				<li><a id="academy" href="__URL__/list_H/category/academy">学院概况</a></li>
				<li><a id="platform" href="__URL__/list_H/category/platform">科研平台</a></li>
				<li><a id="majors" href="__URL__/list_H/category/majors">各系介绍</a></li>
				<li><a id="training_plan" href="__URL__/list_H/category/training_plan">培养计划</a></li>
				<li><a id="employment" href="__URL__/list_H/category/employment">就业形势</a></li>
				<li><a id="stuent_organization" href="__URL__/list_H/category/student_organization">学生组织</a></li>
				<li><a id="for_new" href="__URL__/list_H/category/for_new">新生服务</a></li>
				<li><a id="photo" href="__URL__/list_H/category/photo">学生风采</a></li> 
			</ul>
		</div>
	</div>
</div>