<div id="header">
	<div class="row" id="banner">
		<div class="row" id="nav-wrap">
			<ul>
				<li><a id="index" href="__APP__/Home/Index/index">首页</a></li>
				<li><a id="academy" href="__URL__/list_H/category/academy">学院概况</a></li>
				<li><a id="platform" href="__URL__/list_H/category/platform">科研平台</a></li>
				<!-- <li><a id="teachers">师资力量</a>
					<ul class="sub_nav" id="teachers_sub">
						<li><a href="__URL__/list_H/category/teachers/sub_category/star_teacher">杰出人才</a></li>
						<li><a href="__URL__/list_H/category/teachers/sub_category/professor">教授</a></li>
						<li><a href="__URL__/list_H/category/teachers/sub_category/associate_professor">副教授</a></li>
						<li><a href="__URL__/list_H/category/teachers/sub_category/instructor">讲师</a></li>
						<li><a href="__URL__/list_H/category/teachers/sub_category/support_staff">教辅人员</a></li>
						<li><a href="__URL__/list_H/category/teachers/sub_category/official_staff">行政人员</a></li>
					</ul>
				</li> -->
				<li><a id="majors" href="__URL__/list_H/category/majors">各系介绍</a></li>
				<li><a id="training_plan" href="__URL__/list_H/category/training_plan">培养计划</a></li>
				<li><a id="employment" href="__URL__/list_H/category/employment">就业形势</a></li>
				<li><a id="stuent_organization" href="__URL__/list_H/category/student_organization">学生组织</a></li>
				<li><a id="for_new" href="__URL__/list_H/category/for_new">新生服务</a></li>
				<li><a id="photo" href="__URL__/list_H/category/photo">学生风采</a></li> 
				<!-- <li><a id="downfile" href="__URL__/list_H/category/downfile">下载专区</a></li> -->
			</ul>
		</div>
	</div>
</div>