<!DOCTYPE html>
<html lang="en">
<head>
	<include file="./Application/Home/View/Public/resouce.html" title=""/>
	<link rel="stylesheet" type="text/css" href="/zhaosheng/Public/Home/Css/common.css">
	<style type="text/css">
	
	</style>
</head>
<body style="width:100%;">
	<div class="container-fliud" style="width: 100%;">
		<include file="./Application/Home/View/Public/header.html" title=""/>
		<div id="body">
			<ol class="breadcrumb">
			    <li><a href="__APP__/Home/Index/index"><?php text("index"); ?></a></li>
			    <li><?php text($nav['category']); ?></li>
			</ol>
			<div>
				<ul>
					<if condition="$nav.category eq 'photo'">
						<volist name="list" id="list">
						<li><i class="fa fa-file"></i>&nbsp&nbsp&nbsp&nbsp&nbsp<a href="__URL__/content/category/{$nav.category}/id/{$list.id}">
							{$list.note}
						</a><span>{$list.update_at|date="Y-m-d",###}</span></li>
						</volist>
					<elseif condition="$nav.category eq 'video'" />
						<volist name="list" id="list">
						<li><i class="fa fa-file"></i>&nbsp&nbsp&nbsp&nbsp&nbsp<a href="{$list.video_url}">
							{$list.name}
						</a><span>{$list.update_at|date="Y-m-d",###}</span></li>
						</volist>
					<else />
						<volist name="list" id="list">
						<li><i class="fa fa-file"></i>&nbsp&nbsp&nbsp&nbsp&nbsp<a href="__URL__/content/category/{$nav.category}/id/{$list.id}/sub_category/{$list.sub_category}">
							{$list.title}
						</a><span>{$list.update_at|date="Y-m-d",###}</span></li>
						</volist>
					</if>
				</ul>
			</div>
		</div>
		<div class="result page" id="page">{$page}</div>
		<include file="./Application/Home/View/Public/footer.html" title=""/>
	</div>
</body>
</html>
<script type="text/javascript">
	InitNav($('#nav-wrap ul li a'));
	AddNav($("#teachers"),$("#teachers_sub"));
	AutoLineHeight($("#nav-wrap"),"a");
	AutoPageLineHeight($("#page a"));
	AutoPageLineHeight($("#page .current"));
	//当浏览器的宽度变化时自动调整行高
	$(window).resize(function (){
		AutoLineHeight($("#nav-wrap"));
	});
</script>
<?php
	function text($param){
		switch ($param){
			case "index":
				echo "首页";
				break;
			case "academy":
				echo "学院概况";
				break;
			case "platform":
				echo "科研平台";
				break;
			case "teachers":
				echo "师资力量";
				break;
			case "majors":
				echo "各系介绍";
				break;
			case "student_organization":
				echo "学生组织";
				break;
			case "for_new":
				echo "新生服务";
				break;
			case "downfile":
				echo "下载专区";
				break;
			case "bachelor":
				echo "本科专业介绍";
				break;
			case "master":
				echo "硕士专业介绍";
				break;
			case "doctor":
				echo "博士专业介绍";
				break;
			case "photo":
				echo "学生风采";
				break;
			case "notice":
				echo "通知公告";
				break;
			case "famous":
				echo "名师风采";
				break;
			case "video":
				echo "视频点播";
				break;
			case "speciality_advantage":
				echo "专业优势";
				break;
			case "employment":
				echo "就业形势";
				break;
			case "training_plan":
				echo "培养计划";
				break;
		}
	}
?>