<!DOCTYPE html>
<html lang="en">
<head>
	<include file="./Application/Home/View/Public/resouce.html" title=""/>
	<link rel="stylesheet" type="text/css" href="/zhaosheng/Public/Home/Css/common.css">
	<style type="text/css">
		#content img {
			width: 100%;
		}
		#content p {
			font-size: 2em;
		}
	</style>
</head>
<body style="width: 100%;">
	<div class="container-fliud" style="width: 100%;">
		<include file="./Application/Home/View/Public/header.html" title=""/>
		<div id="body">
			<ol class="breadcrumb">
			    <li><a href="__APP__/Home/Index/index"><?php text("index"); ?></a></li>
			    <li><a href="__URL__/list_H/category/photo"><?php text($nav['category']);?></a></li>
			    <li>内容</li>
			</ol>
			<div id="content">
				<div>
					<img src="{$data.url}">
				</div>
				<div>
					<div style="width: 100%;margin: 2% auto;">
						<span class="mes">作者：{$data.author}</span>
						<span class="mes">日期：{$data.update_at|date="Y-m-d",###}</span>
					</div>
					<span style="width:100%;margin-top: 2%;">
						<p>{$data.note}</p>
					</span>
				</div>
			</div>
		</div>
		<include file="./Application/Home/View/Public/footer.html" title=""/>
	</div>
</body>
</html>
<script type="text/javascript">
	InitNav($('#nav-wrap ul li a'));
	AddNav($("#teachers"),$("#teachers_sub"));
	AutoLineHeight($("#nav-wrap"),"a");/*
	var s = ""; 
	s = " 网页可见区域宽：" +document.body.clientWidth; 
	alert(s);
	alert($(window).width());*/
	//当浏览器的宽度变化时自动调整
	$(window).resize(function (){
		AutoLineHeight($("#nav-wrap"));
	});
</script>
<?php
	function text($param){
		switch ($param){
			case "index":
				echo "首页";
				break;
			case "academy":
				echo "学院概况";
				break;
			case "platform":
				echo "科研平台";
				break;
			case "teachers":
				echo "师资力量";
				break;
			case "majors":
				echo "各系介绍";
				break;
			case "student_organization":
				echo "学生组织";
				break;
			case "for_new":
				echo "新生服务";
				break;
			case "downfile":
				echo "下载专区";
				break;
			case "bachelor":
				echo "本科专业介绍";
				break;
			case "master":
				echo "硕士专业介绍";
				break;
			case "doctor":
				echo "博士专业介绍";
				break;
			case "photo":
				echo "学生风采";
				break;
			case "notice":
				echo "通知公告";
				break;
			case "famous":
				echo "名师风采";
				break;
			case "video":
				echo "视频点播";
				break;
			case "training_plan":
				echo "培养计划";
				break;
		}
	}
?>