<!DOCTYPE html>
<html lang="en">
<head>
	<include file="./Application/Home/View/Public/resouce.html" title="招生网站首页"/>
	<link rel="stylesheet" type="text/css" href="/zhaosheng/Public/Home/Css/index.css">
	<style type="text/css">
		
	</style>
</head>
<body style="width:100%;">
	<div class="container-fluid" style="width:100%;">
		<div id="header">
			<div class="row" id="banner">
				<div class="row" style="width:100%;height:auto;margin-left:0px;">
					<img style="width:100%;height:auto;" src="/zhaosheng/Public/Home/Image/title.png">
				</div>
				<div class="row" id="top">
				</div>
				<div class="row" style="width:100%;">
					<div class="row" id="slider">
						<volist name="photo" id="photo">
							<div>
								<img class="pic" src="{$photo.url}">
								<span><a href="__URL__/content/category/photo/id/{$photo.id}">
									<p><span style="">
									{$photo.note}
									</span></p>
								</a></span>
							</div>
						</volist>
					</div>
				</div>
				<div class="row" id="nav-wrap">
						<ul>
							<li><a id="index" href="__APP__/Home/Index/index">首页</a></li>
							<li><a id="academy" href="__URL__/list_H/category/academy">学院概况</a></li>
							<li><a id="platform" href="__URL__/list_H/category/platform">科研平台</a></li>
							<li><a id="majors" href="__URL__/list_H/category/majors">各系介绍</a></li>
							<li><a id="training_plan" href="__URL__/list_H/category/training_plan">培养计划</a></li>
							<li><a id="employment" href="__URL__/list_H/category/employment">就业形势</a></li>
							<li><a id="stuent_organization" href="__URL__/list_H/category/student_organization">学生组织</a></li>
							<li><a id="for_new" href="__URL__/list_H/category/for_new">新生服务</a></li>
							<li><a id="photo" href="__URL__/list_H/category/photo">学生风采</a></li> 
						</ul>
					</div>
			</div>
		</div>
		<div class="row" id="item">
			<div class="col-xs-6" id="left-item">
				<div class="row">
					<span class="item-title">
						通知公告
					</span>
					<span class="item-btn"><a href="__URL__/list_H/category/notice">更多</a></span>
				</div>
				<div class="row item-content">
					<ul>
						<volist name="notice" id="notice">
						<li><a href="__URL__/content/category/notice/id/{$notice.id}">{$notice.title}</a><span style="font-size:18px;">
						</volist>
					</ul>
				</div>
			</div>
			<div class="col-xs-6" id="right-item">
				<div class="row">
					<span class="item-title">
						名师风采
					</span>
					<span class="item-btn"><a href="__URL__/list_H/category/famous">更多</a></span>
				</div>
				<div class="row item-content">
					<ul>
						<volist name="famous" id="famous">
						<li><a href="__URL__/content/category/famous/id/{$famous.id}"><i class="fa "></i>{$famous.title}</a></li>
						</volist>
					</ul>
				</div>
			</div>
		</div>
		<div class="row" id="cell">
			<div id="cell-left" class="col-xs-6">
				<div class="row">
					<span class="item-title">
						专业介绍
					</span>
				</div>
				<div class="row cell-content">
					<a id="bachelor" href="__URL__/list_H/category/bachelor">
						<img src="/zhaosheng/Public/Home/Image/bachelor.png">
					</a>
					<a id="master" href="__URL__/list_H/category/master">
						<img src="/zhaosheng/Public/Home/Image/master.png">
					</a>
					<a id="doctor" href="__URL__/list_H/category/doctor">
						<img src="/zhaosheng/Public/Home/Image/doctor.png">
					</a>
				</div>
			</div>
			<div id="cell-right" class="col-xs-6">
				<div class="row">
					<span class="item-title">
						视频点播
					</span>
					<span class="item-btn"><a href="__URL__/list_H/category/video">更多</a></span>
				</div>
				<div class="row cell-content">
					<ul>
						<volist name="video" id="video">
						<a href="{$video.video_url}"><li>
							<img src="{$video.photo_url}">
							<span><h5>{$video.name}</h5></span>
						</li></a>
						</volist>
					</ul>
				</div>
			</div>
		</div>
		<include file="./Application/Home/View/Public/footer.html" title=""/>
	</div>
</body>
</html>
<script type="text/javascript">
	var picLen = 0;
	picLen = Math.floor($("#slider").width()/3);
	InitNav($('#nav-wrap ul li a'),"{$nav.category}");
	InitSlider($('#slider div'), picLen);
	//InitShadow($('#cell-right ul li'));
	InitShadow($('#cell-left img'));
	InitItemLi($("#left-item li a"));
	AddNav($("#teachers"),$("#teachers_sub"));
	var picNum = 0;
	picNum = $(".pic").length;
	AutoSliderImgHeight($("#slider"),picNum,0.34);
	AutoLineHeight($("#nav-wrap"),"a");
	AutoScreenWidth($("#top"));
	AutoCellRightImgHeight($("#cell-right li"));
	//当浏览器的宽度变化时自动调整行高
	$(window).resize(function (){
		AutoLineHeight($("#nav-wrap"));
		AutoScreenWidth($("#top"));
		AutoImgHeight($("#slider"));
	});
	function AutoCellRightImgHeight (obj){
		//console.log(obj);
		obj.find("img").css("height",obj.css("height"));
	}
</script>