* {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}

a {
	text-decoration: none!important;
}
#header {
	width: 1920px;
	height: 785px;
	background:url('/zhaosheng/Public/Home/Image/header_background.jpg');
}
#banner {
	width: 1340px;
	margin: 0 auto;
	height: 785px;
	background-color: rgba(225,225,225,0.6);
}
#nav-wrap {
	margin-top: 40px;
	margin-left: 0;
	width: 100%;
	height: 60px;
	background: #55895b;
	border-radius: 16px;
	font-family: "微软雅黑";
	font-size: 23px;
}
#nav-wrap li {
	width: 140px;
	text-align: center;
	line-height: 60px;
	height: 60px;
	display: inline-block;
	float: left;
}
#nav-wrap li:first-child{
	margin-left: 40px;
}
#nav-wrap a {
	display: inline-block;
	width: 140px;
	color: white;
}
.first {
	background: white;
	border-radius: 16px;
	color: black!important;
}
.a-active {
	background: white;
	border-radius: 10px;
	color: black!important;
}
#footer {
	margin-top: 110px;
}
分页的样式
#page {
	width: 1260px;
	margin: 0 auto;
}
#page a {
	display: inline-block;
	width: 35px;
	height: 35px;
	border: 1px solid #5b805f;
	border-radius: 10px;
	margin-right: 10px;
	text-align: center;
	line-height: 32px;
	color: #5b805f;
}
#page .current {
	display: inline-block;
	width: 35px;
	height: 35px;
	border: 1px solid #5b805f;
	border-radius: 10px;
	margin-right: 10px;
	background: #5b805f;
	text-align: center;
	line-height: 32px;
	color: white;
}