<!DOCTYPE html>
<html lang="en">
<head>
	<include file="./Application/Admin/View/Public/resouce.html" title="文章管理"/>
	<style type="text/css">
		
	</style>
</head>
<body>
	<div class="container-fluid">
		<include file="./Application/Admin/View/Public/header.html"/>
		<div class="row">
			<include file="./Application/Admin/View/Public/left_nav.html"/>
			<div class="col-xs-10 col-sm-10 col-md-9 col-lg-9">
				<div class="panel panel-default">
		   			<div class="panel-body">
						<div class="row">
							<ol class="breadcrumb">
							    <li><a href="__ROOT__/Admin/Index/index">首页</a></li>
							    <li>文章管理</li>
							</ol>
						</div>
						<div class="row">
							<div class="row">
								<form class="form-inline" role="form" action="__URL__/index" method="get">
									<div class="col-md-3">
										<div class="form-group">
											<div class=" col-sm-6">
												<select class="form-control" name="category" id="category">
													<option value="">请选择栏目</option>
													<option value="academy">学院概况</option>
												    <option value="famous">名师风采</option>
												    <option value="notice">通知公告</option>
												    <option value="teachers">师资力量</option>
												    <option value="platform">科研平台</option>
												    <option value="student_organization">学生组织</option>
												    <option value="majors">各系介绍</option>
												    <option value="for_new">新生服务</option>
												    <option value="bachelor">本科生</option>
												    <option value="master">硕士生</option>
												    <option value="doctor">博士生</option>
												    <option value="speciality_advantage">专业优势</option>
												    <option value="employment">就业形势</option>
												</select>
											</div>	
											<div class=" col-sm-6">
												<select class="form-control" name="sub_category" id="sub_category" disabled="true">
													<option>文章二级类型</option>
													<option value="star_teacher">杰出人才</option>
												    <option value="professor">教授</option>
												    <option value="associate_professor">副教授</option>
												    <option value="instructor">讲师</option>
												    <option value="support_staff">教辅人员</option>
												    <option value="official_staff">行政人员</option>
												</select>
											</div>
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<div class=" col-sm-8">
												<select class="form-control" name="status" id="status">
													<option value="">是否显示</option>
													<option value="1">显示</option>
													<option value="0">不显示</option>
												</select>
											</div>
										</div>
									</div>
									<div class="col-md-3">
										<div class="input-group">
						                    <input type="text" name="qText" class="form-control" placeholder="请输入标题">
						                    <span class="input-group-btn">
						                        <input class="btn btn-default" type="submit" value="搜索">
						                    </span>
						                </div>
									</div>
								</form>
								<div class="col-md-1 pull-right">
									<a href="__URL__/create" class="btn btn-success">新增</a>
								</div>
							</div>
							<table class="table table-striped">
							<thead>
							<tr>
							<th width="10px">#</th>
							<th>标题</th>
							<th>作者</th>
							<th>栏目</th>
							<th>二级栏目</th>
							<th>是否显示</th>
							<th>更新日期</th>
							<th>操作</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<volist name="data" id="article">
									<tr>
										<td><input class="checkbox-batch" name="checkbox[]" type="checkbox" data-group="articles" data-id="{{$article->id}}"></td>

										<td>{$article.title}</td>
										<td>{$article.author}</td>
										<td>
											<switch name="article.category">
											    <case value="academy">学院概况</case>
											    <case value="famous">名师风采</case>
											    <case value="notice">通知公告</case>
											    <case value="teachers">师资力量</case>
											    <case value="platform">科研平台</case>
											    <case value="student_organization">学生组织</case>
									    		<case value="majors">专业介绍</case>
											    <case value="for_new">新生服务</case>
											    <case value="speciality_advantage">专业优势</case>
											    <case value="employment">就业形势</case>
											</switch>
										</td>
										<td>
											<switch name="article.sub_category">
											    <case value="instructor">讲师</case>
											    <case value="support_staff">教辅人员</case>
											    <case value="official_staff">行政人员</case>
											    <case value="star_teacher">杰出人才</case>
											    <case value="professor">教授</case>
											    <case value="associate_professor">副教授</case>
											</switch>
										</td>
										<td>
											<eq name="article.status" value="1">
											显示
											<else/>
											不显示
											</eq>
										</td>
										<td>{$article.update_at|date="Y-m-d",###}</td>
										<td>
											<a href="__URL__/edit/id/{$article.id}" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
											<a href="__URL__/delete/id/{$article.id}" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i></a>
										</td>
									</tr>
								</volist>
							</tr>
							</tbody>
							</table>
						</div>
						<div class="result page" id="page">{$page}</div>
					</div>
				</div>
			</div>
		</div>
		<include file="./Application/Admin/View/Public/footer.html"/>
	</div>
</body>
</html>
<script>
	// InitRadio($("input[name='status']"),"{$data.status}");
	InitNav($('#left_nav li'),"{$category}");
	// InitCategory($('#category')[0].options,"{$data.category}");
	InitSubCategory($('#category'),$('#sub_category'));
</script>